#guest-index {
    a {
        text-decoration: none;
        text-transform: none;
        color: black;
    }

    .link {
        text-decoration: underline;
        text-transform: none;
        color: dodgerblue;
    }
}